<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566964771434-rtbhvh69u8vdbaao3lib8v6sk7sds5l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566964771434-rtbhvh69u8vdbaao3lib8v6sk7sds5l5</string>
	<key>API_KEY</key>
	<string>AIzaSyCYpNHnDrj7cIDzF6LOSvnfmanZ8k5wUSM</string>
	<key>GCM_SENDER_ID</key>
	<string>566964771434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-16f42</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-16f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566964771434:ios:88e988afbbcce641868813</string>
	<key>DATABASE_URL</key>
	<string>https://todoapp-16f42.firebaseio.com</string>
</dict>
</plist>